<!DOCTYPE html>
<html>
   <head>
      <script type="text/javascript">
         var sock = null;
         var ellog = null;

         window.onload = function() {

            var wsuri;
            ellog = document.getElementById('log');

            if (window.location.protocol === "file:") {
               wsuri = "ws://localhost:9000";
            } else {
               wsuri = "ws://" + window.location.hostname + ":9000";
            }

            if ("WebSocket" in window) {
               sock = new WebSocket(wsuri);
            } else if ("MozWebSocket" in window) {
               sock = new MozWebSocket(wsuri);
            } else {
               log("Browser does not support WebSocket!");
            }

            if (sock) {
               sock.onopen = function() {
                  {#log("Connected to " + wsuri);#}
               }

               sock.onclose = function(e) {
                  log("Connection closed (wasClean = " + e.wasClean + ", code = " + e.code + ", reason = '" + e.reason + "')");
                  sock = null;
               }

               sock.onmessage = function(e) {
                  var lines = e.data.split('\n')
                  {#console.log("HELLO");#}
                  setTimeout(function(){
                      {#log("THIS IS");#}
                      log(lines[1]);
                  }, 4000);
                  log(lines[0]);
               }
            }
         };

         function broadcast() {
            var msg = document.getElementById('message').value;
            if (sock) {
               sock.send(msg);
               log("Sent: " + msg);
            } else {
               log("Not connected.");
            }
         };

         function log(m) {
            ellog.innerHTML = m + '\n';
            {#ellog.scrollTop = ellog.scrollHeight;#}
         };
      </script>
   </head>
   <body>
   <div align="center">
      <h1>Hand washing station</h1>
      <noscript>You must enable JavaScript</noscript>
{#      <iframe width="560" height="315" src="http://www.youtube.com/embed/GRonxog5mbw?autoplay=1&loop=1&playlist=GRonxog5mbw" frameborder="0" allowfullscreen></iframe>#}
       <iframe width="560" height="315" src="http://www.youtube.com/embed/3PmVJQUCm4E?autoplay=1&loop=1&playlist=PLU8lpSNTmOLE44bCWFNPIyW9_ibr60g6g" frameborder="0" allowfullscreen></iframe>
{#      <form>#}
{#         <p>Broadcast Message: <input id="message" type="text" size="50" maxlength="50" value="Hello from Browser!"></p>#}
{#      </form>#}
{#      <button onclick='broadcast();'>Broadcast Message</button>#}
      <p id="log" style="height: 3em; overflow-y: hidden; font-size: 80px;"></p>
   </div>
   </body>
</html>